.wrapper
  padding-top: 150px
  min-height: 100vh
  display: flex
  align-items: center
  flex-direction: column

.title
  margin-bottom: 50px
  font-size: 48px
  text-align: center

.card
  padding: 50px
  box-shadow: 2px 7px 19px 4px rgba(34, 60, 80, 0.17)
  border-radius: 20px
  display: flex
  align-items: start

.img
  min-width: 300px
  display: flex
  justify-content: center
  align-items: center
  img
    width: 100%

.info
  margin-left: 50px
  min-height: 100%
  display: flex
  flex-direction: column

.description
  margin-bottom: 30px
  font-size: 28px

.price
  margin-bottom: 30px
  font-size: 32px
  font-weight: bold

.button
  margin-top: auto
  padding: 10px
  background: none
  border: none
  font-size: 28px
  border: 1px solid grey
  border-radius: 20px
  transition: background-color .3s
  cursor: pointer

// Media hover
@media ( hover: hover )
  .button:hover
    background-color: rgba(0, 0, 0, .2)

// Media
@media screen and ( max-width: 1000px )
  .description
    font-size: 24px

@media screen and ( max-width: 830px )
  .img
    min-width: 200px

  .description
    font-size: 21px

@media screen and ( max-width: 655px )
  .card
    padding: 10px
    flex-direction: column
    justify-content: center
    align-items: center

  .img
    margin-bottom: 30px
    width: 300px

  .info
    margin-left: 0px

@media screen and ( max-width: 500px )
  .wrapper
    padding-top: 100px

@media screen and ( max-width: 380px )
  .wrapper
    padding-top: 50px
