
*
  margin: 0
  padding: 0
  text-decoration: none
  box-sizing: border-box

body
  color: #fff
  background-color: #fff
  color: #151515
  font-size: 72px
  font-family: 'Raleway', sans-serif
  min-height: 100vh

a
  color: inherit

ul, li
  list-style: none

.app
  position: relative

.noise
  position: absolute
  width: 100%
  height: 100%
  z-index: 999999
  pointer-events: none
  mix-blend-mode: difference
  opacity: 1
